<!DOCTYPE html>
<html lang="en">
<head>
  <title>Kainos Academy Blog</title>
  <link rel="stylesheet" href="style.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <h4>Paul's Kainos Academy Blog</h4>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#section1">Home</a></li>
        <li><a href="#section2">What I Have Learned</a></li>
        <li><a href="#section3">My Projects</a></li>
        <li><a href="#section3">Kainos Social Events</a></li>
      </ul><br>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search Blog..">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
    </div>

    <div class="col-sm-9">

      <h4><small>RECENT POSTS</small></h4>
      <hr>
      <h2>Summary of Week One</h2>
      <h5><span class="glyphicon glyphicon-time"></span> Post by Paul Muldoon, Aug 19, 2023 at 17:32 BST.</h5>
      <h5><span class="label label-success">Web App Development</span></h5><br>
      <p>The first week of learning was amazing! Our first topic was databases. We learned how to design a database and then create and query it using SQL! This was very useful in refreshing my memory as my last database project was a number of months ago</p>
      <hr>

      <h4><small>RECENT POSTS</small></h4>
      <hr>
      <h2>My First Day at Kainos!</h2>
      <h5><span class="glyphicon glyphicon-time"></span> Post by Paul Muldoon, Aug 14, 2023 at 19:24 BST.</h5>
      <h5><span class="label label-danger">Social</span></h5><br>
      <p>My first day at Kainos is a wrap! It was so much fun meeting my colleagues, hearing about what's to come and seeing the office for the first time. We had pizza and even went on a trip to an escape room to finish up, so much fun!</p>
      <hr>
      <img class="" src="resources/kainos_bbcnews.jpeg" alt="Kainos Belfast Office - Copyright BBC NEWS 2021">
      <p>COPYRIGHT BBC NEWS 2021</p>

      <h4><small>RECENT POSTS</small></h4>
      <hr>
      <h2>The Start of My Blog</h2>
      <h5><span class="glyphicon glyphicon-time"></span> Post by Paul Muldoon, Aug 14, 2023 at 08:47 BST</h5>
      <h5><span class="label label-danger">Social</span></h5><br>
      <p>Today is the day i start my new job as a Placement Software Engineer at Kainos in Belfast! I have created this blog to document my experience and all the new things i learn along the way</p>
      <br><br>

      <h4>Leave a Comment:</h4>
      <form role="form">
        <div class="form-group">
          <textarea class="form-control" rows="3" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <br><br>
      
      <p><span class="badge">3</span> Comments:</p><br>
      
      <div class="row">
        <div class="col-sm-2 text-center">
        </div>
        <div class="col-sm-10">
          <h4>Reuben <small>Aug 15, 2023, 10:51 BST</small></h4>
          <p>Keep up the good work! You really deserved the job and I am so proud of you!!</p>
          <br>
        </div>
        <div class="col-sm-2 text-center">
        </div>
        <div class="col-sm-10">
          <h4>Jade <small>Aug 15, 2023, 12:19 PM</small></h4>
          <p>I am so happy for you my dude! I am looking forward to reading about your new job! I have sent you my blog on Whatsapp so we can read about each other's experiences</p>
          <br>
        </div>
        <div class="col-sm-2 text-center">
        </div>
        <div class="col-sm-10">
          <h4>Dylan <small>August 20, 2023, 8:24 PM</small></h4>
          <p>Incredible! I also started a new job as a software engineer this week! I will keep in touch and if you need any advice give me a shout </p>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="container-fluid">
  <p>2023 Paul Muldoon</p>
</footer>

</body>
</html>
